.hero{
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 200px;
    color: #041329;
}

.card-title{
    color: #041329;
}

.index{
    margin-top: 25px;
}
